# San Diego Vehicle Pull-Over Investigation

## Police Pull-Over Dataset Investigation 
The first thing is to spot the suspecious data entry from the database

In [1]:
import os
import glob

In [2]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data_list = glob.glob('./vehicle_stops_20*_datasd.csv')
print(data_list)

['./vehicle_stops_2014_datasd.csv', './vehicle_stops_2016_datasd.csv', './vehicle_stops_2015_datasd.csv', './vehicle_stops_2017_datasd.csv']

In [4]:
df_list = [pd.read_csv(i) for i in data_list]
sd_stop = pd.concat(df_list, ignore_index=True)

/Users/macyeh/anaconda3/envs/ds/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [5]:
sd_stop.head()

,Unnamed: 15,Unnamed: as16,arrested,contraband_found,obtained_consent,property_seized,sd_resident,searched,service_area,stop_cause,stop_date,stop_id,stop_time,subject_age,subject_race,subject_sex,timestamp
0,NaN,NaN,N,N,N,N,Y,N,110,Moving Violation,2014-01-01,1044975,1:25,24,W,M,2014-01-01 01:25:00
1,NaN,NaN,N,NaN,NaN,NaN,Y,N,320,Moving Violation,2014-01-01,1044976,5:47,42,W,M,2014-01-01 05:47:00
2,NaN,NaN,N,NaN,NaN,NaN,Y,N,320,Moving Violation,2014-01-01,1044977,7:46,29,L,M,2014-01-01 07:46:00
3,NaN,NaN,N,NaN,NaN,NaN,Y,N,610,Moving Violation,2014-01-01,1044978,8:10,23,W,M,2014-01-01 08:10:00
4,NaN,NaN,N,NaN,NaN,NaN,N,N,930,Equipment Violation,2014-01-01,1044980,8:35,35,H,M,2014-01-01 08:35:00

In [6]:
sd_stop.service_area.value_counts()

310        32062
120        31712
520        30093
710        27279
240        25942
930        25142
110        24801
620        21446
230        20173
610        19507
720        17767
320        16808
430        16050
510        15232
810        14232
440        14022
830        13691
820        12605
Unknown    11446
530          667
630          203
130           90
840           29
Name: service_area, dtype: int64

In [7]:
sd_stop.subject_race.value_counts()

W    165602
H    119478
B     43687
O     27722
A     18159
F      5293
V      2937
C      2141
I      2026
X       645
K       566
J       485
P       434
Z       322
L       287
S       224
D       201
G       111
U        57
Name: subject_race, dtype: int64

In [8]:
# Load the Race Code Description
df_race_des = pd.read_csv('./vehicle_stops_race_codes.csv')
df_race_des.head()
df_race_des.rename(index=str, columns={'Race Code':'subject_race', 'Description': 'Race_Description'}, inplace=True)
#df_race_des.set_index('Race Code', inplace=True)
df_race_des.head()

  subject_race Race_Description
0            A      OTHER ASIAN
1            B            BLACK
2            C          CHINESE
3            D        CAMBODIAN
4            F         FILIPINO

In [9]:
#Two ways to join and merge the data in dataframe
sd_stop = pd.merge(sd_stop, df_race_des, how='left', on='subject_race')
#sd_stop.join(other=df_race_des, on='subject_race')

In [10]:
sd_stop.subject_age.value_counts()

25     15882
30     14333
24     13404
23     13397
22     12616
26     12297
20     12161
21     12146
27     11577
28     11325
35     10655
32      9989
40      9979
29      9889
31      9715
34      8846
33      8811
45      8801
19      8387
50      7996
36      7822
37      7160
38      6980
43      6506
39      6308
42      6282
44      6273
41      5969
55      5959
46      5702
       ...
228        1
55Q        1
F48        1
N          1
213        1
185        1
j          1
y          1
163        1
233        1
NN         1
3.7        1
221        1
211        1
212        1
456        1
5_         1
220        1
f28        1
111        1
`          1
f          1
120        1
119        1
114        1
204        1
f26        1
h          1
125        1
399        1
Name: subject_age, Length: 156, dtype: int64

When we check the subject age, it turns out some age datas are inserted non-correclty. It includes the following suspecious points:
1. Age is larger than 100
2. Age Typo

** These data is required to be cleanned before the further data analysis **

In [11]:
sd_stop.subject_sex.value_counts()

M    253397
F    136796
X        60
Name: subject_sex, dtype: int64

In [12]:
sd_stop[sd_stop.subject_sex == 'X']

,Unnamed: 15,Unnamed: as16,arrested,contraband_found,obtained_consent,property_seized,sd_resident,searched,service_area,stop_cause,stop_date,stop_id,stop_time,subject_age,subject_race,subject_sex,timestamp,Race_Description
3167,NaN,NaN,N,NaN,NaN,NaN,Y,N,610,"Muni, County, H&S Code",2014-01-16,1047579,2:00,20,O,X,2014-01-16 02:00:00,OTHER
9603,NaN,NaN,N,NaN,NaN,NaN,Y,N,520,Equipment Violation,2014-01-26,1053359,22:25,26,X,X,2014-01-26 22:25:00,NaN
44648,NaN,NaN,N,NaN,NaN,NaN,Y,N,610,Equipment Violation,2014-04-08,1088931,2:35,32,W,X,2014-04-08 02:35:00,WHITE
55670,NaN,NaN,N,NaN,NaN,NaN,Y,N,610,Moving Violation,2014-04-30,1100138,22:50,36,W,X,2014-04-30 22:50:00,WHITE
56050,NaN,NaN,N,NaN,NaN,NaN,N,N,510,Equipment Violation,2014-05-02,1100697,0:10,24,O,X,2014-05-02 00:10:00,OTHER
89287,NaN,NaN,N,NaN,NaN,NaN,Y,N,310,Moving Violation,2014-07-23,1133887,10:28,77,W,X,2014-07-23 10:28:00,WHITE
93594,NaN,NaN,N,NaN,NaN,NaN,Y,N,440,Equipment Violation,2014-08-05,1138774,3:40,24,W,X,2014-08-05 03:40:00,WHITE
93670,NaN,NaN,N,NaN,NaN,NaN,N,N,110,Moving Violation,2014-08-05,1139265,10:00,50,A,X,2014-08-05 10:00:00,OTHER ASIAN
93671,NaN,NaN,N,NaN,NaN,NaN,N,N,110,Moving Violation,2014-08-05,1139266,10:00,50,A,X,2014-08-05 10:00:00,OTHER ASIAN
94180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110,Moving Violation,2014-08-06,1139294,11:11,99,A,X,2014-08-06 11:11:00,OTHER ASIAN
94531,NaN,NaN,N,NaN,NaN,NaN,N,N,110,Moving Violation,2014-08-07,1139632,11:11,99,A,X,2014-08-07 11:11:00,OTHER ASIAN
107424,NaN,NaN,N,NaN,NaN,NaN,Y,N,110,Equipment Violation,2014-09-08,1152623,10:00,54,W,X,2014-09-08 10:00:00,WHITE
135415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Equipment Violation,2014-12-02,1180667,7:00,200,X,X,2014-12-02 07:00:00,NaN
140043,NaN,NaN,N,NaN,NaN,NaN,NaN,N,930,Moving Violation,2014-12-17,1185593,11:31,0,X,X,2014-12-17 11:31:00,NaN
142574,NaN,NaN,N,NaN,NaN,NaN,NaN,N,930,Moving Violation,2014-12-26,1187977,0:25,41,W,X,2014-12-26 00:25:00,WHITE
142575,NaN,NaN,N,NaN,NaN,NaN,NaN,N,930,Moving Violation,2014-12-26,1187978,0:25,18,W,X,2014-12-26 00:25:00,WHITE
142602,NaN,NaN,N,NaN,NaN,NaN,NaN,N,310,Equipment Violation,2014-12-26,1187962,6:10,30,W,X,2014-12-26 06:10:00,WHITE
142653,NaN,NaN,N,NaN,NaN,NaN,NaN,N,Unknown,Equipment Violation,2014-12-26,1187964,11:15,55,B,X,2014-12-26 11:15:00,BLACK
143734,NaN,NaN,N,NaN,NaN,NaN,NaN,N,Unknown,Moving Violation,2014-12-30,1189042,7:23,24,W,X,2014-12-30 07:23:00,WHITE
143786,NaN,NaN,N,NaN,NaN,NaN,NaN,N,Unknown,Equipment Violation,2014-12-30,1189052,9:45,50,W,X,2014-12-30 09:45:00,WHITE
143804,NaN,NaN,N,NaN,NaN,NaN,NaN,N,510,Moving Violation,2014-12-30,1189091,10:28,30,W,X,2014-12-30 10:28:00,WHITE
143843,NaN,NaN,N,NaN,NaN,NaN,NaN,N,Unknown,Moving Violation,2014-12-30,1189086,13:48,34,W,X,2014-12-30 13:48:00,WHITE
144003,NaN,NaN,N,NaN,NaN,NaN,NaN,N,310,Moving Violation,2014-12-31,1189588,14:14,35,W,X,2014-12-31 14:14:00,WHITE
146193,NaN,NaN,N,NaN,NaN,NaN,N,N,620,Equipment Violation,2016-01-10,1310315,15:30,24,A,X,2016-01-10 15:30:00,OTHER ASIAN
165159,NaN,NaN,N,NaN,NaN,NaN,Y,N,930,Equipment Violation,2016-03-05,1329154,23:00,53,O,X,2016-03-05 23:00:00,OTHER
165162,NaN,NaN,N,NaN,NaN,NaN,Y,N,930,Equipment Violation,2016-03-05,1329124,23:00,56,O,X,2016-03-05 23:00:00,OTHER
188464,NaN,NaN,N,NaN,NaN,NaN,Y,N,320,Moving Violation,2016-05-24,1386093,8:00,No Age,B,X,2016-05-24 08:00:00,BLACK
209669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110,Equipment Violation,2016-08-14,1407198,9:40,0,O,X,2016-08-14 09:40:00,OTHER
210463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,710,Moving Violation,2016-08-16,1408109,11:58,0,O,X,2016-08-16 11:58:00,OTHER
215721,NaN,NaN,N,NaN,NaN,NaN,N,NaN,930,"Muni, County, H&S Code",2016-09-03,1413070,14:25,0,X,X,2016-09-03 14:25:00,NaN
217416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230,Equipment Violation,2016-09-09,1159186,0:00,23,I,X,2016-09-09 00:00:00,INDIAN
228766,NaN,NaN,N,NaN,NaN,NaN,Y,N,110,Radio Call/Citizen Contact,2016-10-24,1426244,16:00,55,X,X,2016-10-24 16:00:00,NaN
235591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430,Radio Call/Citizen Contact,2016-11-15,1432859,15:00,0,X,X,2016-11-15 15:00:00,NaN
260154,NaN,NaN,N,NaN,NaN,NaN,NaN,N,Unknown,Equipment Violation,2015-02-10,1202765,7:30,34,F,X,2015-02-10 07:30:00,FILIPINO
266893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,320,Radio Call/Citizen Contact,2015-02-28,1209331,22:00,0,X,X,2015-02-28 22:00:00,NaN
273281,NaN,NaN,N,NaN,NaN,NaN,Y,N,320,"Suspect Info (I.S., Bulletin, Log)",2015-03-21,1215560,14:00,45,W,X,2015-03-21 14:00:00,WHITE
294787,NaN,NaN,N,NaN,NaN,NaN,Y,N,240,Moving Violation,2015-05-23,1237882,10:40,31,W,X,2015-05-23 10:40:00,WHITE
297959,NaN,NaN,N,NaN,NaN,NaN,NaN,N,310,Equipment Violation,2015-05-31,1240809,0:11,53,H,X,2015-05-31 00:11:00,HISPANIC
298052,NaN,NaN,N,NaN,NaN,NaN,NaN,N,310,Moving Violation,2015-05-31,1240807,11:11,26,W,X,2015-05-31 11:11:00,WHITE
302560,NaN,NaN,Y,NaN,NaN,NaN,Y,N,620,Equipment Violation,2015-06-14,1247917,0:38,54,W,X,2015-06-14 00:38:00,WHITE
302587,NaN,NaN,N,NaN,NaN,NaN,NaN,N,120,Equipment Violation,2015-06-14,1247881,7:00,24,W,X,2015-06-14 07:00:00,WHITE
309757,NaN,NaN,N,NaN,NaN,NaN,NaN,N,Unknown,Moving Violation,2015-07-05,1254938,9:43,50,W,X,2015-07-05 09:43:00,WHITE
313511,NaN,NaN,N,NaN,NaN,NaN,N,N,120,Equipment Violation,2015-07-16,1258964,10:00,99,X,X,2015-07-16 10:00:00,NaN
313518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120,Personal Knowledge/Informant,2015-07-16,1258969,10:29,99,X,X,2015-07-16 10:29:00,NaN
313519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120,Equipment Violation,2015-07-16,1258970,10:29,99,X,X,2015-07-16 10:29:00,NaN
318693,NaN,NaN,N,NaN,NaN,NaN,Y,N,240,Equipment Violation,2015-08-02,1264029,7:58,0,O,X,2015-08-02 07:58:00,OTHER
330229,NaN,NaN,N,NaN,NaN,NaN,Y,N,430,Equipment Violation,2015-09-10,1275730,5:30,50,W,X,2015-09-10 05:30:00,WHITE
333239,NaN,NaN,N,NaN,NaN,NaN,Y,N,230,Moving Violation,2015-09-22,1278639,16:32,41,H,X,2015-09-22 16:32:00,HISPANIC
336865,NaN,NaN,N,NaN,NaN,NaN,Y,N,520,Equipment Violation,2015-10-07,1282395,0:15,0,O,X,2015-10-07 00:15:00,OTHER
338495,NaN,NaN,N,NaN,NaN,NaN,Y,N,110,Moving Violation,2015-10-13,1284720,10:58,51,W,X,2015-10-13 10:58:00,WHITE
341166,NaN,NaN,N,NaN,NaN,NaN,Y,N,810,Moving Violation,2015-10-22,1288407,0:92,26,NaN,X,NaN,NaN
341426,NaN,NaN,N,NaN,NaN,NaN,Y,N,310,Moving Violation,2015-10-22,1288468,12:00,54,A,X,2015-10-22 12:00:00,OTHER ASIAN
344526,NaN,NaN,N,NaN,NaN,NaN,NaN,N,810,Equipment Violation,2015-11-02,1290088,22:30,25,W,X,2015-11-02 22:30:00,WHITE
346340,NaN,NaN,N,NaN,NaN,NaN,Y,N,240,Moving Violation,2015-11-08,1291749,3:20,24,H,X,2015-11-08 03:20:00,HISPANIC
350172,NaN,NaN,N,NaN,NaN,NaN,N,N,620,Radio Call/Citizen Contact,2015-11-19,1295389,2:58,0,X,X,2015-11-19 02:58:00,NaN
354181,NaN,NaN,N,NaN,NaN,NaN,Y,N,240,Moving Violation,2015-12-01,1299172,15:47,60,A,X,2015-12-01 15:47:00,OTHER ASIAN
361048,NaN,NaN,N,NaN,NaN,NaN,Y,N,620,Equipment Violation,2015-12-25,1306698,14:48,45,A,X,2015-12-25 14:48:00,OTHER ASIAN
363851,NaN,NaN,N,NaN,NaN,NaN,Y,N,230,Radio Call/Citizen Contact,1/5/17,1445815,2:25,0,O,X,2017-01-05 02:25:00,OTHER
378323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,930,Personal Knowledge/Informant,2/22/17,1460020,2:29,0,X,X,2017-02-22 02:29:00,NaN
386480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,530,Moving Violation,3/16/17,1468030,17:20,28,W,X,2017-03-16 17:20:00,WHITE

Sex X looks something suspecious, but it is actually be entered into the database

In [13]:
sd_stop['stop_cause'].value_counts()

Moving Violation                      285562
Equipment Violation                    99577
Radio Call/Citizen Contact              1941
Muni, County, H&S Code                  1442
Personal Knowledge/Informant             884
Suspect Info (I.S., Bulletin, Log)       578
No Cause Specified on a Card             430
Personal Observ/Knowledge                104
UNI, &County, H&&S Code                   73
Other                                     39
MUNI, County, H&S Code                    29
&Moving Violation                         21
Suspect Info                              17
none listed                                6
not marked                                 4
&Equipment Violation                       3
NOT SPECIFIED                              2
NOTHING MARKED                             2
NOT MARKED                                 2
not noted                                  2
Bicycle                                    2
wm23                                       1
&Radio Call/Citizen Contact                1
Bicycle Bicycle                            1
B & P                                      1
none noted                                 1
not listed                                 1
CAUSE NOT LISTED ACTION NOT LISTED         1
BICYCLE                                    1
Pedestrian                                 1
NOT CHECKED                                1
not marked  not marked                     1
not secified                               1
f25                                        1
Name: stop_cause, dtype: int64

When the stop cause is checked, we find that some of the causes are 
1. with upper-case alphabets 
2. some alphabets are missed

The stop cause column can be further cleanned with the following code (Only focus on the major stop cause)

In [14]:
sd_stop.loc[sd_stop[sd_stop.stop_cause == '&Moving Violation'].index, 'stop_cause'] = 'Moving Violation'
sd_stop.loc[sd_stop[sd_stop.stop_cause == '&Equipment Violation'].index, 'stop_cause'] = 'Equipment Violation'
sd_stop.loc[sd_stop[sd_stop.stop_cause == '&Radio Call/Citizen Contact'].index, 'stop_cause'] = 'Radio Call/Citizen Contact'
sd_stop.loc[sd_stop[sd_stop.stop_cause == 'UNI, &County, H&&S Code'].index, 'stop_cause'] = 'Muni, County, H&S Code'
sd_stop.loc[sd_stop[sd_stop.stop_cause == 'MUNI, County, H&S Code'].index, 'stop_cause'] = 'Muni, County, H&S Code'

## Age-Stop Cause Relation Analysis
The procedure includes:
1. Data Clean
2. Data Visualization

### Clean Age Data

In [15]:
def isInt(anyNumberOrString):
    try:
        int(anyNumberOrString) #to check float and int use "float(anyNumberOrString)"
        return True
    except ValueError :
        return False

isInt("A") #False
isInt("5") #True
isInt(8) #True
isInt("5.88") #False *see comment above on how to make this True

False

In [16]:
int_list = [i for i, age in enumerate(sd_stop.subject_age) if isInt(age) == True]
sd_stop_age = sd_stop.iloc[int_list, :]

In [17]:
# Convert the string data to int data
sd_stop_age.loc[:,'subject_age'] = pd.to_numeric(sd_stop_age.subject_age, downcast='signed')

/Users/macyeh/anaconda3/envs/ds/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [18]:
df_age = sd_stop_age[(sd_stop_age['subject_age'] > 15) & 
            (sd_stop_age['subject_age'] < 100)
           ] # Find the age between 15 and 100

### Clean Race Data